* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fefae0;
}

@media (max-width: 320px) {
    body {
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 1600px) {
    body {
        font-size: 16px;
    }
}

:root {
    --color-primary: #606c38;
    --color-secondary: #283618;
    --color-background: #fefae0;
    --color-accent: #dda15e;
    --color-highlight: #bc6c25;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 60px; 
    background-color: transparent;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    z-index: 1000; 
}

.audio-toggle {
display: flex;
align-items: center;
gap: 10px;
font-size: 16px;
border: 1px solid var(--color-secondary);
background-color: var(--color-highlight);
border: none;
border-radius: 5px;
padding: 10px 10px;
text-decoration: none; 
text-align: center;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
position: relative;
height: 45px;
right: -850px;
top: 550px;
}

.audio-toggle.scrolled {
    background-color: transparent;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.toggle-label img {
width: 30px;
height: 50px;
object-fit: contain;
align-items: center;
display: flex;
filter: brightness(1) invert(0);
}

.toggle-switch {
position: relative;
width: 50px;
height: 25px;
background: transparent;
border-radius: 25px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
transition: background 0.1s;
}

.toggle-switch input {
display: none;
}

.toggle-switch label {
position: absolute;
top: 2px;
left: 2px;
width: 21px;
height: 21px;
background: var(--color-background);
border-radius: 50%;
transition: all 0.3s;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
cursor: pointer;
}

.toggle-switch input:checked + label {
left: 25px;
background: var(--color-secondary); 
}

.toggle-switch input:checked ~ .toggle-switch {
background: var(--color-secondary); 
}

@media (max-width: 768px) {
    header {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 60px; 
        display: flex;
        z-index: 1000; 
    }

    .audio-toggle {
        gap: 10px;
        font-size: 16px;
        height: 30px;
        width: 100px;
        right: -240px;
        top: 425px;
        }

        .toggle-label img {
            width: 25px;
            height: 25px;
            }
            
            .toggle-switch {
            width: 60px;
            height: 20px;
            border-radius: 25px;
            }
            
            .toggle-switch input {
            display: none;
            }
            
            .toggle-switch label {
            top: 1px;
            left: 1px;
            width: 18px;
            height: 18px;
            }
            
            .toggle-switch input:checked + label {
            left: 26px;
            }
}

.hero-index {
    position: relative;
    background: url('juntitos.jpg') no-repeat center center/cover;
    display: flex;
    padding: 150px 150px;
    align-items: center;
    text-align: center;
    z-index: 1;
    overflow: hidden; 
    height: 680px;
}

.hero-index.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.hero-content-index {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff; 
}

.hero-content-index h1 {
    font-size: 50px;
    color: var(--color-background);
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
}

.hero-content-index p {
    font-size: 22px;
    color: var(--color-background);
    max-width: 600px;
    margin: 0 auto 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
}


.cta-button {
    border: 1px solid var(--color-secondary);
    background-color: var(--color-highlight);
    color: #fff;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .hero-index {
        padding: 30px 15px;
        height: 500px;
        max-width: cover;
    }

    .hero-content-index h1 {
        font-size: 1.5rem;
    }

    .hero-content-index p {
        font-size: 1.2rem;
        padding-top: 10px;
    }
}

.projects {
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 36px;
    color: var(--color-secondary);
    margin-bottom: 20px;
}
.projects p {
    font-size: 25px;
    color: var(--color-primary);
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.image-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-highlight);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

.content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s;
}

.content1 h3 {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-accent);
}

.content1 p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-background);
}

.card:hover .content1 {
    opacity: 1;
    transform: translateY(0);
}

.scroll-text-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
    background-color: var(--color-primary);
}

.scroll-text {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    color: var(--color-background);
}

.scroll-text-secondary {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.scroll-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.scroll-text span.visible {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 768px) {
    .scroll-text-container {
        padding: 30px 15px;
        height: 525px;
    }

    .scroll-text {
        font-size: 1.35rem;
    }

    .scroll-text-secondary {
        font-size: 1.0rem;
        padding-top: 10px;
    }
}

.dates {
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dates h2 {
    font-size: 36px;
    color: var(--color-secondary);
    margin-bottom: 20px;
}
.dates p {
    font-size: 25px;
    color: var(--color-primary);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .dates {
        padding: 20px 10px;
    }

    .dates h2 {
        font-size: 1.35rem;
    }

    .dates p {
        font-size: 1.0rem;
        padding-top: 10px;
    }
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.boxes {
    width: 200px;
    height: 200px;
    position: relative;
    background: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxes:hover {
    transform: scale(1.25);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.image-boxes img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.content0 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.boxes:hover .content0 {
    opacity: 1;
}

.content0 h3 {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-background);
}

.content0 p {
    margin: 0;
    font-size: clamp(0.4rem, 1.5vw, 0.6rem);
    line-height: 1.5;
    color: var(--color-background);
}

.footer {
    background-color: var(--color-secondary);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.social {
    display: flex;
    gap: 30px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-link:hover {
    color: var(--color-accent);
}

.social-link img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s;
}

.social-link:hover img {
    transform: scale(1.1); 
}

@media (max-width: 390px) {
    .footer {
        padding: 20px;
        width: cover;
        height: 75px;
    }

    .footer {
        font-size: 16px;
    }
    
    .social {
        gap: 10px;
    }
    
    .social-link {
        gap: 5px;
    }
    
    .social-link img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        transition: transform 0.3s;
    }
}
